<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="app" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="app" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="app" class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Portal LeBraile - Veja em Ação</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    
    <link rel="stylesheet" href="/lebraile-web/css/app.min.css">
</head>
<section id="acao" name="produto" ng-controller="TradutoraController">
	    <div class="container">
	        <div class="row">
	            <div class="col-lg-12 text-center">
	                <h2>Confira Nossa Tradução Instantânea Para o LeBraile</h2>
	                <hr class="star-primary">
	            </div>
	        </div>
	        <div class="row">
	            <div class="col-sm-12">
	            	<div class="form-group">
					  <input  ng-model="ip" placeholder="Digite o IP do Equipamento" type="text" class="form-control" id="ip" />
					</div>
	            </div>
	            <div class="col-sm-12">
	            	<div class="form-group">
					  <textarea ng-model="palavra" type="text" class="form-control" ng-change="traduzir(palavra)" ng-trim="false" placeholder="Digite o texto a ser traduzido para o braile" id="texto"></textarea>
					</div>
	            </div>
	        </div>
	        
	        <div class="row" id="traducao">
	            <div class="col-lg-12 text-center">
	                <h2>Tradução</h2>
	            </div>
         		<div style="width: 5.333333%;" class="col-xs-1" ng-repeat="letra in letrasTraduzidas">
         			<label class="letra">{{letra.caractere}}</label>
         			<label class="letra"></label>
	            	<br>
	            	<i class="fa fa-circle{{letra.braile[0] == 1 ? ' cor-letra' : '-thin'}}" aria-hidden="true"></i>
	            	<i class="fa fa-circle{{letra.braile[1] == 1 ? ' cor-letra' : '-thin'}}" aria-hidden="true"></i>
	            	<i class="fa fa-circle{{letra.braile[2] == 1 ? ' cor-letra' : '-thin'}}" aria-hidden="true"></i>
	            	<i class="fa fa-circle{{letra.braile[3] == 1 ? ' cor-letra' : '-thin'}}" aria-hidden="true"></i>
	            	<i class="fa fa-circle{{letra.braile[4] == 1 ? ' cor-letra' : '-thin'}}" aria-hidden="true"></i>
	            	<i class="fa fa-circle{{letra.braile[5] == 1 ? ' cor-letra' : '-thin'}}" aria-hidden="true"></i>
         		</div>
	        </div>
	    </div>
</section>